<div class="login_wrapper">


  <mat-card class="login_card">
    <h3> Login</h3>
    <mat-form-field class="width_100">
      <input matInput placeholder="Eneter the Email">
    </mat-form-field>
    <mat-form-field class="width_100">
      <input matInput type="password" placeholder="Enter the Password">
    </mat-form-field>
    <div>
      <div class="login_btn">

        <button mat-stroked-button>Register</button>
        <button mat-stroked-button color="primary">Login</button>

      </div>
    </div>
  </mat-card>

</div>